## Tasks
* Analyze and Explain [Covid dataset](https://www.kaggle.com/datasets/imdevskp/corona-virus-report)
* Search for:
    * Line chart
    * Area chart
    * Waffle chart
    * Regression plots

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [24]:
pd.options.display.float_format = '{: .2f}'.format

In [3]:
df = pd.read_csv('Datasets\\country_wise_latest.csv')
df.head()

,Country/Region,Confirmed,Deaths,Recovered,Active,New cases,New deaths,New recovered,Deaths / 100 Cases,Recovered / 100 Cases,Deaths / 100 Recovered,Confirmed last week,1 week change,1 week % increase,WHO Region
0,Afghanistan,36263,1269,25198,9796,106,10,18,3.50,69.49,5.04,35526,737,2.07,Eastern Mediterranean
1,Albania,4880,144,2745,1991,117,6,63,2.95,56.25,5.25,4171,709,17.00,Europe
2,Algeria,27973,1163,18837,7973,616,8,749,4.16,67.34,6.17,23691,4282,18.07,Africa
3,Andorra,907,52,803,52,10,0,0,5.73,88.53,6.48,884,23,2.60,Europe
4,Angola,950,41,242,667,18,1,0,4.32,25.47,16.94,749,201,26.84,Africa

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 187 entries, 0 to 186
Data columns (total 15 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Country/Region          187 non-null    object
 1   Confirmed               187 non-null    int64
 2   Deaths                  187 non-null    int64
 3   Recovered               187 non-null    int64
 4   Active                  187 non-null    int64
 5   New cases               187 non-null    int64
 6   New deaths              187 non-null    int64
 7   New recovered           187 non-null    int64
 8   Deaths / 100 Cases      187 non-null    float64
 9   Recovered / 100 Cases   187 non-null    float64
 10  Deaths / 100 Recovered  187 non-null    float64
 11  Confirmed last week     187 non-null    int64
 12  1 week change           187 non-null    int64
 13  1 week % increase       187 non-null    float64
 14  WHO Region              187 non-null    object
dtypes: float64(4), int64(9), object(2)
memory usage: 22.0+ KB

In [25]:
df.describe().T

d:\Shaher\AMIT\.venv\Lib\site-packages\pandas\core\nanops.py:1016: RuntimeWarning: invalid value encountered in subtract
  sqr = _ensure_numeric((avg - values) ** 2)

,count,mean,std,min,25%,50%,75%,max
Confirmed,187.00,88130.94,383318.66,10.00,1114.00,5059.00,40460.50,4290259.00
Deaths,187.00,3497.52,14100.00,0.00,18.50,108.00,734.00,148011.00
Recovered,187.00,50631.48,190188.19,0.00,626.50,2815.00,22606.00,1846641.00
Active,187.00,34001.94,213326.17,0.00,141.50,1600.00,9149.00,2816444.00
New cases,187.00,1222.96,5710.37,0.00,4.00,49.00,419.50,56336.00
New deaths,187.00,28.96,120.04,0.00,0.00,1.00,6.00,1076.00
New recovered,187.00,933.81,4197.72,0.00,0.00,22.00,221.00,33728.00
Deaths / 100 Cases,187.00,3.02,3.45,0.00,0.94,2.15,3.88,28.56
Recovered / 100 Cases,187.00,64.82,26.29,0.00,48.77,71.32,86.89,100.00
Deaths / 100 Recovered,187.00,inf,NaN,0.00,1.45,3.62,6.44,inf
Confirmed last week,187.00,78682.48,338273.68,10.00,1051.50,5020.00,37080.50,3834677.00
1 week change,187.00,9448.46,47491.13,-47.00,49.00,432.00,3172.00,455582.00
1 week % increase,187.00,13.61,24.51,-3.84,2.77,6.89,16.86,226.32

In [10]:
df.groupby(df['Confirmed'])[['Deaths', 'Recovered', 'Active']].sum()

           Deaths  Recovered   Active
Confirmed
10              1          8        1
12              0         12        0
14              0         13        1
17              0         15        2
18              0         18        0
...           ...        ...      ...
452529       7067     274925   170537
816680      13334     602249   201097
1480073     33408     951166   495499
2442375     87618    1846641   508116
4290259    148011    1325804  2816444

[184 rows x 3 columns]

In [20]:
df[df['Deaths / 100 Recovered'] > 80]

,Country/Region,Confirmed,Deaths,Recovered,Active,New cases,New deaths,New recovered,Deaths / 100 Cases,Recovered / 100 Cases,Deaths / 100 Recovered,Confirmed last week,1 week change,1 week % increase,WHO Region
32,Canada,116458,8944,0,107514,682,11,0,7.68,0.00,inf,112925,3533,3.13,Americas
117,Mozambique,1701,11,0,1690,32,0,0,0.65,0.00,inf,1507,194,12.87,Africa
120,Netherlands,53413,6160,189,47064,419,1,0,11.53,0.35,3259.26,52132,1281,2.46,Europe
147,Serbia,24141,543,0,23598,411,9,0,2.25,0.00,inf,21253,2888,13.59,Europe
161,Sweden,79395,5700,0,73695,398,3,0,7.18,0.00,inf,78048,1347,1.73,Europe
163,Syria,674,40,0,634,24,2,0,5.93,0.00,inf,522,152,29.12,Eastern Mediterranean
177,United Kingdom,301708,45844,1437,254427,688,7,3,15.19,0.48,3190.26,296944,4764,1.60,Europe

In [29]:
df[df['Confirmed'] > 2000000]

,Country/Region,Confirmed,Deaths,Recovered,Active,New cases,New deaths,New recovered,Deaths / 100 Cases,Recovered / 100 Cases,Deaths / 100 Recovered,Confirmed last week,1 week change,1 week % increase,WHO Region
23,Brazil,2442375,87618,1846641,508116,23284,614,33728,3.59,75.61,4.74,2118646,323729,15.28,Americas
173,US,4290259,148011,1325804,2816444,56336,1076,27941,3.45,30.90,11.16,3834677,455582,11.88,Americas